.App {
  text-align: center;
}

.header-row {
  padding: 1rem;
  background-color: #33b5e5;
  border: 2px solid #fff;
  color: #fff;
  text-align: center;
}

.header-link {
  color: #fff;
}


.header-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.headline-text {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

.Welcome {
  text-align: center;  
  font-size: calc(10px + 2vmin);
}

.App-header {
  /*background-color: #282c34;*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
